@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$color1: #FFFFFF;
$color2: #0d8187;
$color3: #303030;

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Bellota', cursive;
    color: $color1;
    background-color: $color2;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.titleAndLogo {
    background-color: $color1;
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: center;
    top: 0;
    color: $color3;
}

.logoHackers {
    height: 120px;
    width: auto;
    margin-left: 20px;
}

h1 {
    margin-left: 14%;
    color: $color3;
}

form {
    padding-top: 30px;
    margin-bottom: auto;
    font-weight: bold;
}

.inputLabel {
    margin-left: 15px;
}

footer {
    min-width: 100%;
    color: $color1;
    background-color: $color3;
    align-self: flex-end;
    text-align: right;
    padding-right: 20px;
}

.website { 
    display: none; 
}